
<mat-expansion-panel class="work">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Work
    </mat-panel-title>
    <mat-panel-description>
      Current Job
    </mat-panel-description>
  </mat-expansion-panel-header>

The Hartford
Location: Hartford, CT
Software Engineer July 2018 - Present
Deployed two public facing insurance policy retrieval tools using Angular 6,
by architecting a solution with partial error handling, used by over 24,000 clients.
Provided detailed analysis of UX changes using Oracle Maxymiser through A/B testing techniques.



</mat-expansion-panel>
