
<mat-expansion-panel class="projects">
  <mat-expansion-panel-header>
    <mat-panel-title>
      About Me
    </mat-panel-title>
    <mat-panel-description>
      Biography
    </mat-panel-description>
  </mat-expansion-panel-header>

      A biography is simply an account of someone’s life written by another person.
      A biography can be short in the case of few sentences biography, and it can also be long enough to fill an entire book.
      The short biographies explain a person’s basic life facts and their importance,
      but the long biographies would go an extra mile and include more details to make an interesting read.
      You may find yourself in a situation which requires you to write a biography of a famous person, a close friend or a relative.
      For this reason, it pays to know how to come up with a biography and the important details that you should include in it.
      The lives of many people have interesting bits of information, but you ought to know what to capture in the biography and
      what to leave out.


</mat-expansion-panel>
