

.welcome-message {
    animation: pulse 5s infinite;
}


.contents {
    display: flex;
    align-items: center;
    height: 57%;
    margin-top: 23%;
}

#girl {
    position: absolute;
    right: 40px;
    z-index: -1;
}