
<mat-card class="about">
<mat-card-title>Julie Hong Tuyet Pham</mat-card-title>
<mat-card-content>
      Hello! My name is Julie Pham, I graduated UConn in 2018 with a degree in
      Computer Science and Engineering. I'm not great at expressing myself, but when
      I do, it's usually very dramatic or long-winded. In other words, grab a
      cup of tea (I suggest oolong) and get cozy cause this is the start of a...
      WHOLE NEW WORLD. ha! Okay, anywho, with this website, I hope to express my thoughts.
      Excersing does help calm my emotions, but I've noticed my thoughts are always
      still convoluted. With this, I do hope it will help me figure out what I want
      in life.
      </mat-card-content>

</mat-card>
