
<mat-expansion-panel class="blog">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Motivation
    </mat-panel-title>
    <mat-panel-description>
      Competition
    </mat-panel-description>
  </mat-expansion-panel-header>
      Background Explanation -
      During college, I was surrounded by amazing, knowledgable people who excelled
      in their studies. Freshmen and sophomore year I was still trying to figure
      out what I wanted to study. Chemistry, specifically organic chemistry,
      always intrigued me, yet I decided to go for BME? CAUSE THAT MAKES SO MUCH SENSE RIGHT?
      Anyways, I get waitlisted to get into the program, freak out and majored in CSE.
      During sophomore year, I took introductory CSE classes and this was also during the time I felt
      as if I had no friends. I sought out relationships to fill in that gap
      because, well, your SO should be your best friend right? I coasted during
      those times and didn't really understand the material. I somehow got by?
      See, I should have just switched my majors and studied ECE because everything *clicked*.
      There's something about this topic which kept me to stay. At that time,
      it may have been my pride? I'm not sure, I just know I would like to thank
      my past self for having that much pride because I wouldn't have gained such
      an appreciation towards it. It was my junior year, when I started to feel
      like I wanted to actually understand and learn how to program. I got extremely lucky
      and got to surround myself with people who were passionate about cs.
      Yes, I was extremely behind and I was constantly comparing myself to them because
      well, I just wished I knew just as much as they did. Nevertheless, I didn't want to
      accept the idea of "I'm behind so there's no way I can learn". As much as I hated it,
      I was still comparing myself to others.
      Now -
      I don't know if it's because I'm out of the college and have a job but I feel
      a greater appreciation towards relearning the material I've forgotten. I've come to
      this mindset where their knowledge and my knowledge may be at different levels but
      I don't feel any less of a person. It's great they're knowledgable in that subject
      and I hope they continue to challenge themselves. At the end of the day,
      I want to continue to explore my passion at my own pace. Having some sort of
      compeition doesn't really motivate me to learn. I want to learn because I'm
      purely interested in that topic. It's similar to learning a piece on the piano, or working
      on a bouldering problem. Yes, there will be people who could learn/play this piece
      within a day or less, or people who could flash that bouldering problem, but
      that doesn't affect me at all. I'm learning that piece because I like playing the
      piano and I like the song. I'm working on that bouldering problem because
      I find the techniques and setting fun. It's definitely not because of someone else. 

</mat-expansion-panel>
